.button {
   display: flex;
   align-items: center;
   justify-content: center;
   
   font-family: "Montserrat", sans-serif;
   height: 44px;
   border-radius: 2px;
   font-weight: 400;
   font-size: 14px;
   background: none;

   &-gray {
      border: 1px solid #0d263b;
      color: #0d263b;
      &:hover {
         background: #0d263b;
         color: #fff;
      }
   }

   &-blue {
      background: #0061df;
      color: #fff;
      &:hover {
         background: #0051ba;
      }
   }
   &-border-gray {
      border: 1px solid #e6e9ec;
      color: #0d263b;
      &:hover {
         background: #e6e9ec;
      }
   }
   &-white {
      border: 1px solid #fff;
      color: #fff;
      &:hover {
         background: #fff;
         color: #8b8b8b;
      }
   }
   &-gray,
   &-blue,
   &-border-gray,
   &-white {
      transition: background ease 0.3s, color ease 0.3s;
      -webkit-transition: background ease 0.3s, color ease 0.3s;
      -moz-transition: background ease 0.3s, color ease 0.3s;
      -ms-transition: background ease 0.3s, color ease 0.3s;
      -o-transition: background ease 0.3s, color ease 0.3s;
      &:active {
         font-weight: 600;
      }
   }
}
// interaction
// social
.social {
   display: inline-block;
   width: 36px;
   height: 36px;
   border-radius: 3px;
   transition: background ease 0.3s, opacity ease 0.3s;
   -webkit-transition: background ease 0.3s, opacity ease 0.3s;
   -moz-transition: background ease 0.3s, opacity ease 0.3s;
   -ms-transition: background ease 0.3s, opacity ease 0.3s;
   -o-transition: background ease 0.3s, opacity ease 0.3s;
   
   &:hover {
      opacity: 0.1;
      background: #fff;
   }
   &:active {
      font-weight: 600;
   }
   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      font-size: 14px;
      color: #fff;
   }
}
