@font-face {
    font-family: "icons";
    src: url("./icons.eot?49a7fb09759e5def3d73c63cb05fede5#iefix") format("embedded-opentype"),
url("./icons.woff2?49a7fb09759e5def3d73c63cb05fede5") format("woff2"),
url("./icons.woff?49a7fb09759e5def3d73c63cb05fede5") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-apartment:before {
    content: "\f101";
}
.icon-arrow:before {
    content: "\f102";
}
.icon-calculate:before {
    content: "\f103";
}
.icon-discord:before {
    content: "\f104";
}
.icon-facebook:before {
    content: "\f105";
}
.icon-favorite:before {
    content: "\f106";
}
.icon-filter:before {
    content: "\f107";
}
.icon-fullscreen:before {
    content: "\f108";
}
.icon-home:before {
    content: "\f109";
}
.icon-house:before {
    content: "\f10a";
}
.icon-in:before {
    content: "\f10b";
}
.icon-instagram:before {
    content: "\f10c";
}
.icon-location:before {
    content: "\f10d";
}
.icon-loupe:before {
    content: "\f10e";
}
.icon-mail:before {
    content: "\f10f";
}
.icon-map:before {
    content: "\f110";
}
.icon-office:before {
    content: "\f111";
}
.icon-phone:before {
    content: "\f112";
}
.icon-serch:before {
    content: "\f113";
}
.icon-twitter:before {
    content: "\f114";
}
.icon-villa:before {
    content: "\f115";
}

.icon {
   display: flex;
   align-items: center;
   justify-content: center;
}