.container {
   max-width: 1180px;
   margin: auto;
}

.button {
   font-family: "Montserrat", sans-serif;
   height: 44px;
   border-radius: 2px;
   font-weight: 400;
   font-size: 14px;
   background: none;
   font-size: 14px;
   &-gray {
      border: 1px solid #0d263b;
      color: #0d263b;
      &:hover {
         background: #0d263b;
         color: #fff;
      }
   }

   &-blue {
      background: #0061df;
      color: #fff;
      &:hover {
         background: #0051ba;
      }
   }

   &-bd-blue {
      border: 1px solid #0061df;
      color: #0061df;
      &:hover {
         background: #0061df;
         color: #fff;
      }
   }

   &-border-gray {
      border: 1px solid #e6e9ec;
      color: #0d263b;
      &:hover {
         background: #e6e9ec;
      }
   }
   &-white {
      border: 1px solid #fff;
      color: #fff;
      &:hover {
         background: #fff;
         color: #8b8b8b;
      }
   }
   &-gray,
   &-blue,
   &-bd-blue,
   &-border-gray,
   &-white {
      font-size: 14px;
      transition: background ease 0.3s, color ease 0.3s;
      -webkit-transition: background ease 0.3s, color ease 0.3s;
      -moz-transition: background ease 0.3s, color ease 0.3s;
      -ms-transition: background ease 0.3s, color ease 0.3s;
      -o-transition: background ease 0.3s, color ease 0.3s;
      &:active {
         font-weight: 600;
      }
   }
}

.input {
   &-gray {
      width: 200px;
      height: 44px;
      padding: 0 16px;

      border: 1px solid #e6e9ec;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      &:focus {
         border-color: #676767;
      }
   }
   &-blue {
      padding-bottom: 4px;
      border-bottom: 2px solid #e6e9ec;
      &:hover {
         border-color: #0061df3e;
      }
      &:focus {
         border-color: #0061df;
         color: #0d263b;
      }
   }
   &-gray,
   &-blue {
      text-transform: capitalize;
      font-size: 14px;
   }
}

.title {
   margin-bottom: 8px;

   font-weight: 600;
   font-size: 28px;
   letter-spacing: -0.02em;
   text-align: center;
   color: #0d263b;
}

.subtitle {
   margin-bottom: 40px;

   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #696969;
}
